* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --glaucous: #4a8cc7;
  --ghost-white: #f7f7ff;
  --vibrant-coral: #fe5f55;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--ghost-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* Font for title */
.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Native html elements */

h1 {
  font-family: "Schoolbell", cursive;
  font-size: 3rem;
  text-align: center;
  color: var(--vibrant-coral);
  margin: 4rem 0rem 3rem 0rem;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: large;
}

footer {
  background-color: var(--glaucous);
  color: var(--ghost-white);
  height: 3rem;
  padding: 1rem;
}

main {
  flex: 1; /* Takes as much space as possible */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Classes & IDs */

.banner {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  width: 100vw;
  background-color: var(--glaucous);
}

.banner button {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#city-input {
  padding: 0.5rem 1rem;
  background-color: var(--ghost-white);
  border-radius: 30px;
  border: 1px solid var(--glaucous);
}

#search-btn {
  padding: 0.5rem 1rem;
  background-color: var(--ghost-white);
  border-radius: 30px;
  border: 1px solid var(--glaucous);
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: small;
}

#search-btn:hover {
  background-color: var(--glaucous);
  color: var(--ghost-white);
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.cat-advice-text {
  text-align: center;
}

.weather-cat-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.weather-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-icon {
  width: 5rem;
  height: auto;
  align-self: center;
}

.cat-img {
  max-width: 250px;
  margin: 1rem auto;
  border-radius: 10px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-message {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .weather-cat-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
  }
}
