* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue-slate: #6c9bd1;
  --glaucous: #83b5d1;
  --pale-sky: #d0e6f5;
  --ghost-white: #f7f7ff;
  --vibrant-coral: #fe5f55;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--ghost-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Schoolbell", cursive;
  font-size: 3rem;
  text-align: center;
  color: var(--vibrant-coral);
  margin-top: 4rem;
  margin-bottom: 3rem;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: var(--glaucous);
  color: white;
  height: 3rem;
  padding: 1rem;
}

.banner {
  display: flex;
  justify-content: space-around;
  height: 3rem;
  width: 100vw;
  background-color: var(--glaucous);
}

.banner button {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#city-input {
  padding: 0.5rem 1rem;
  background-color: var(--ghost-white);
  border-radius: 30px;
  border: 1px solid var(--glaucous);
}

#search-btn {
  padding: 0.5rem 1rem;
  background-color: var(--ghost-white);
  border-radius: 30px;
  border: 1px solid var(--glaucous);
  transition-duration: 0.4s;
  cursor: pointer;
}

#search-btn:hover {
  background-color: var(--glaucous);
  color: var(--ghost-white);
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.weather-cat-container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.weather-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather-icon {
  width: 5rem;
  height: auto;
}

.cat-img {
  max-width: 250px;
  margin: 1rem auto;
  border-radius: 10px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  margin-top: 2rem;
}
