* {
  box-sizing: border-box;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-color: aquamarine;
}

h1 {
  font-family: "Schoolbell", cursive;
  text-align: center;
}

#weather-output {
  background-color: var(--background-color);
}
